body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

main {
    width: 98%;
    height: 96vh;
    margin: 2vh 1%;
    border-radius: 2px;
    box-shadow: 0px 0px 2px;
}

.arrow {
    width: 8px;
    height: 8px;
    fill: silver;
}

main > div {
    display: flex;
}

main > div:first-of-type {
    height: 18%;
    border-bottom: 1px solid silver;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.amount_of_unshipped_goods {
    padding: 0.5rem;
    border-radius: 5px;
    font-family: Arial;
    box-shadow: 0px 0px 2px;
    margin: 0.8rem 1rem 0rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ruble {
    color: white;
    font-size: 2rem;
    font-family: Arial;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: red;
}

.amount_of_unshipped_goods > div:last-of-type {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
}

.amount {
    font-weight: 700;
    margin-top: 0.2rem;
}

main > div:last-of-type {
    height: 82%;
    padding: 1.5rem;
    box-sizing: border-box;
    flex-direction: column;
}

.task_form {
    width: 100%;
    height: 90%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px;
    display: flex;
    flex-direction: column;
}

.task_search {
    padding: 1rem;
    font-family: Arial;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.task_search p {
    font-size: 0.9rem;
}

.task_search_inp {
    height: 2rem;
    margin-left: 0.5rem;
}

.tasks_table {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.table_head {
    padding: 0.3rem;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: Arial;
    width: fit-content;
    border-top: 1px solid silver;
    border-bottom: 2px solid silver;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task_num, .theme, .status, .date_of_completion, .customer,
.note, .sales_plan, .check, .implementation, .quarter,
.year {
    cursor: pointer;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task_num .sort_btns, .customer .sort_btns {
    margin-left: 0.2rem;
}

.theme .sort_btns {
    margin-left: 10rem;
}

.status .sort_btns, .note .sort_btns {
    margin-left: 5rem;
}

.sort_btns {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.sort_btns svg:last-of-type {
    transform: rotate(180deg);
}

.task_date_form {
    height: 10%;
}

.task_form .pagination_btns_box {
    font-size: 0.9rem;
    font-family: Arial;
}