body {
    margin: 0;
    background-color: rgb(234, 234, 234);
}

h1, h2, h3, h4, h5, h6, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

main {
    width: 100%;
    height: 100vh;
    padding: 1%;
    box-sizing: border-box;
}

main > div {
    display: flex;
}

main > div:first-of-type {
    font-family: Arial;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main > div:first-of-type h2 {
    color: rgb(50, 50, 50)
}

nav {
    display: flex;
    flex-direction: row;
}

nav p {
    margin-left: 0.5rem;
}



.home {
    cursor: pointer;
    text-decoration: none;
    color: rgb(54, 54, 231);
}

.home:hover {
    color: red;
}

main > div:last-of-type {
    margin-top: 2rem;
    flex-direction: column;
}

.task_properties, .all_responsible {
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 2px gray;
}

.task_properties {
    padding: 1%;
    font-family: Arial;
    display: flex;
    flex-direction: column;
}

.responsible_box > p:first-of-type, .project_box > p:first-of-type,
.start_date_box p:first-of-type, .date_of_completion_box p:first-of-type,
.tarrification_box > p:first-of-type, .task_box > p:first-of-type {
    font-weight: 700;
    font-size: 0.9rem;
}

.task_properties > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.task_properties > div:last-of-type {
    margin-top: 1rem;
}

.selection_btn, #start_date, #date_of_completion {
    height: 2rem;
    border: none;
    outline: none;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    caret-color: transparent;
    box-shadow: 0px 0px 2px inset;
}

.responsible_box, .project_box, .tarrification_box, .task_box {
    display: flex;
    flex-direction: column;
}

.project_box, .tarrification_box, .date_of_completion_box, .task_box, .show_task {
    margin-left: 1rem;
}

.open_and_close_btn {
    position: relative;
}

.open_and_close_btn:before {
    content: "";
    width: 20px;
    height: 20px;
    top: 14px;
    right: 2%;
    cursor: pointer;
    background-color: black;
    position: absolute;
    -webkit-mask-image: url("../icons/Треугольник2.svg");
}

.open_and_close_btn.rotated:before {
    transform: rotate(180deg);
}

.selection_btn {
    cursor: pointer;
    border-radius: 4px;
}

.selection_lst {
    width: 94%;
    margin: 0 3%;
    overflow-y: scroll;
    scrollbar-width: thin;
    box-shadow: 0px 0px 2px inset;
    display: none;
    flex-direction: column;
}

.selection_lst::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.selection_lst div {
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selection_lst div:hover {
    color: white;
    background-color: royalblue;
}

.selection_lst p {
    font-size: 0.9rem;
    user-select: none;
}

.selection_lst div:not(:last-of-type) {
    border-bottom: 1px solid silver;
}

.responsible_lst, .project_lst, .tarrification_lst {
    height: 6.3rem;
}

.task_lst {
    height: fit-content;
}

.responsible_box .selection_btn, .tarrification_box .selection_btn {
    width: 15rem;
}

.project_box .selection_btn {
    width: 30rem;
}

.start_date_box div, .date_of_completion_box div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#start_date, #date_of_completion {
    border-radius: 4px 0px 0px 4px;
}

.date_btn {
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
    box-shadow: 0px 0px 2px;
    border-radius: 0px 4px 4px 0px;
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.date_btn svg {
    width: 80%;
    height: 80%;
    fill: rgb(50, 50, 50)
}

.task_box input {
    width: 8rem;
}

.show_task {
    height: 1.8rem;
    cursor: pointer;
    margin-top: 1.7rem;
}

.all_responsible {
    width: 100%;
    margin-top: 1rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.all_responsible > div:first-of-type {
    height: 15%;
    padding: 1% 2%;
    font-family: Arial;
    border-bottom: 1px solid silver;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.all_responsible > div:first-of-type > p:first-of-type {
    color:rgb(54, 54, 231)
}

.close_time_plan_time_fact {
    display: flex;
    flex-direction: row
}

.close_time_plan_time_fact > div {
    height: 2.5rem;
    width: 15rem;
    border-radius: 5px;
    box-shadow: 0px 0px 2px gray;
}

.close_time_plan_time_fact div:not(:first-of-type) {
    margin-left: 1rem;
}

.two_squares {
    width: 20px;
    height: 20px;
    fill: white;
    transform: rotate(90deg);
}

.clock {
    width: 20px;
    height: 20px;
    fill: white;
}

.closed, .time_plan, .time_fact {
    padding: 0 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.closed div {
    background-color: rgb(0, 150, 150)
}

.time_plan div {
    background-color: red;
}

.time_fact div {
    background-color: rgb(42, 170, 42);
}

.closed div, .time_plan div, .time_fact div {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.closed p, .time_plan p, .time_fact p {
    font-size: 0.9rem;
}

.closed p:last-of-type, .time_plan p:last-of-type, .time_fact p:last-of-type {
    font-weight: 700;
    margin-left: 0.1rem;
}

.all_responsible > div:last-of-type {
    height: fit-content;
    padding: 1%;
}

.theme_table {
    padding: 1.5%;
    font-family: Arial;
    border-radius: 5px;
    box-shadow: 0px 0px 2px gray;
}

.theme_table > div:first-of-type {
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.theme_btns input {
    padding: 0.3rem;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search input {
    height: 2rem;
    border: none;
    outline: none;
    margin-left: 0.5rem;
    border-radius: 4px;
    box-shadow: 0px 0px 1px inset;
}

.table {
    display: flex;
    flex-direction: column;
}

.table_head {
    margin-top: 0.5rem;
    padding-bottom: 8px;
    border-bottom: 2px solid silver;
    display: flex;
    flex-direction: row;
}

.table_head > div {
    word-break: break-all;
    width: calc(100% / 11);
    display: flex;
    flex-direction: row;
}

.sort_btns {
    cursor: pointer;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.sort_btns svg {
    width: 8px;
    height: 8px;
    fill: gray;
}

.sort_btns svg:last-of-type {
    transform: rotate(180deg);
}

.table_head div span {
    width: 100%;
    margin-left: 0.5rem;
    font-weight: 700;
    font-size: 0.75rem;
    align-content: flex-end;
}